<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Register</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- Responsive-->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- fevicon -->
<link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
  <!--header section start -->
  <div class="header_section">
      <div class="header_left">
    <div class="header_section header_bg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a href="https://www.xbyte.io/"><img src="https://www.xbyte.io/images/logo.svg"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
        </div>
    </div>

<div class="contact_section layout_padding">
<!--      <div class="container-fluid">-->
        <h1 class="what_taital">Register here</h1>
<!--        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>-->
<!--        <div class="contact_section2">-->
<!--          <div class="row">-->
  <center>
            <div class="col-md-6 padding_left_0">
              <div class="mail_section">
<!--                <span class="mb-0 text-muted">-->
<!--                {% if msg %}-->
<!--                    {{ msg | safe }}-->
<!--                {% else %}-->
<!--                    Register page-->
<!--                {% endif %}-->
<!--              </span>-->

                <form  method="post">
                    <div class="form-group">
                    {% csrf_token %}
                  <div class="form-group last mb-4">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">confirm Password</label>
                      {{ form.password2 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="text">Number</label>
                      {{ form.number }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="des">Designation</label>
                      {{ form.designation }}
                  </div>
                        <span class="text-error">{{ form.errors }}</span>
                        <div class="dropdown">

                           {{ form.roles }}
                        </div>


<!--              <div class="form-check">-->
<!--                  <div class="d-flex mb-5 align-items-center">-->
<!--                    <label class="form-check-input" type="radio"><span class="caption">Admin</span>-->
<!--                        {{ form.is_admin }}-->
<!--&lt;!&ndash;                      <div class="control__indicator"></div>&ndash;&gt;-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="d-flex mb-5 align-items-center">-->
<!--                    <label class="form-check-input"><span class="caption">Sales</span>-->
<!--                        {{ form.is_sales }}-->
<!--&lt;!&ndash;                      <div class="control__indicator"></div>&ndash;&gt;-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="d-flex mb-5 align-items-center">-->
<!--                    <label class="form-check-input"><span class="caption">Production</span>-->
<!--                        {{ form.is_production }}-->
<!--&lt;!&ndash;                      <div class="control__indicator"></div>&ndash;&gt;-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="d-flex mb-5 align-items-center">-->
<!--                    <label class="form-check-input"><span class="caption">Devloper</span>-->
<!--                        {{ form.is_devloper }}-->
<!--&lt;!&ndash;                      <div class="control__indicator"></div>&ndash;&gt;-->
<!--                    </label>-->
<!--                  </div>-->
<!--                  <div class="d-flex mb-5 align-items-center">-->
<!--                    <label class="form-check-input"><span class="caption">Client</span>-->
<!--                        {{ form.is_client }}-->
<!--&lt;!&ndash;                      <div class="control__indicator"></div>&ndash;&gt;-->
<!--                    </label>-->
<!--                  </div>-->




<!--                    <input type="submit" value="Register">--><div>
                    <button type="submit" class="btn btn-primary mb-2">Register</button>
                        </div>
                    </div>
                     </form>

 </div>
            </div>
<!--            <div class="col-md-6 padding_0">-->
<!--            </div>-->
<!--          </div>-->
  </center>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <div class="location_text"><img src="{% static 'images/map-icon.png' %}"><span class="padding_left_15">Locations</span></div>
            <div class="location_text"><img src="{% static 'images/call-icon.png' %}"><span class="padding_left_15">+01 9876543210</span></div>
            <div class="location_text"><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left_15">demo@gmail.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">Instagram</h4>
            <div class="footer_images">
              <div class="footer_images_left">
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
              </div>
              <div class="footer_images_right">
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">Newsletter</h4>
            <input type="text" class="mail_text" placeholder="Enter your email" name="Enter your email">
            <div class="subscribe_bt"><a href="#">Subscribe</a></div>
            <div class="footer_social_icon">
              <ul>
                <li><a href="#"><img src="{% static 'images/fb-icon1.png' %}"></a></li>
                 <li><a href="#"><img src="{% static 'images/twitter-icon1.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/linkedin-icon1.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/youtub-icon1.png' %}"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- copyright section start -->
        <div class="copyright_section">
          <div class="copyright_text">© 2012-2023 X-Byte Enterprise Crawling<a href="https://www.xbyte.io/">, All Rights Reserved. </a></div>
        </div>
        <!-- copyright section end -->
      </div>
    </div>
    <!--footer section end -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</div>
</body>
</html>